<nav class="nav-extended lime">
    <div class="nav-wrapper container">
        <a href="{{ path('homepage') }}" class="brand-logo"><img src="/img/mangez-bio-little.png" /> Mangez bio</a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="sass.html">Potager BIO</a></li>
            <li><a href="badges.html">Librairie</a></li>
            <li><a href="collapsible.html">Blog</a></li>
        </ul>
        <ul class="side-nav" id="mobile-demo" style="transform: translateX(-100%);">
            <li><a href="sass.html">Potager BIO</a></li>
            <li><a href="badges.html">Librairie</a></li>
            <li><a href="collapsible.html">Blog</a></li>
        </ul>
    </div>
    <div class="nav-content container">
        <ul class="tabs tabs-transparent">
            <li class="tab"><a href="#test1" class="active">Restaurants BIO</a></li>
            <li class="tab"><a class="" href="#test2">AMAP</a></li>
            <li class="tab "><a href="#test3">Producteurs locaux</a></li>
            <li class="tab"><a href="#test4" class="">Epiceries bio</a></li>
    </div>
</nav>